.App {
  background: #181b1e;
  font-family: "Futura Light";
  font-size: 1rem;
  min-height: 100%;
}

.movieModal {
  max-width: 1000px !important;
  background: none !important;
  padding: 0px !important;
}

.movieModal button {
  color: #b69323;
}
